# API Backend URL
PUBLIC_API_URL=https://api.example.com/v1

# Configuración de Marca y Shell (Marca Blanca)
PUBLIC_BRAND_NAME=Platform
PUBLIC_APP_NAME=Admin Platform
PUBLIC_APP_SUBTITLE=Shell Microfrontends
PUBLIC_SUPPORT_EMAIL=admin@example.com
